
<% if alert || flash[:alert] || flash[:error] %>
  <span class="alert alert-error">
    <a class="close" data-dismiss="alert" href="#">x</a>
    <center><h4 class="alert-heading">Error!</h4></center>
    <center><%= alert %></center>
    <center><%= flash[:error] %></center>
    <br/>
  </span>
<% end %>
<% if flash[:notice] %>
  <span class="alert-success">
    <a class="close" data-dismiss="alert" href="#">x</a>
    <center><h4 class="alert-heading">Success!</h4></center>
    <center><%= flash[:notice] %></center>
    <br/>
  </span>

<% end %>

<style>
  .alert-error{
    color: red;
  }
  .alert-success{
    color: green;
  }
</style>